<div class="mdl-cell mdl-cell--12-col containerBigCard mdl-shadow--2dp" ng-app="conceptApp" ng-controller="ctrlPuestos">
    <div class="mdl-grid bgPuestos" ng-init="initPuestos();getDepartamentos();">
        <div class="mld-cell mdl-cell-2-col">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="catalogo">
                <i class="material-icons">history</i>Regresar
            </a>
        </div>
        <div class="mdl-cell mdl-cell--10-col center"><h2>Puestos</h2></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid containerAlt0">
                <div class="mdl-cell mdl-cell--3-col">ID</div>
                <div class="mdl-cell mdl-cell--3-col">DESCRIPCION</div>
                <div class="mdl-cell mdl-cell--3-col">DEPARTAMENTO</div>
            </div>
            <div class="mdl-grid containerAlt1" ng-repeat="lista in puestos">
                <div class="mdl-cell mdl-cell--3-col">{{lista[2]}}</div>
                <div class="mdl-cell mdl-cell--3-col">{{lista[3]}}</div>
                <div class="mdl-cell mdl-cell--3-col">{{lista[1]}}</div>
            </div>
            <div class="mdl-grid containerAlt1">
                <div class="mdl-cell mdl-cell--3-col"></div>
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="txtName" />
                        <label class="mdl-textfield__label" for="txtName">Puesto</label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select class="mdl-textfield__input" type="text" id="txtDepartamento">
                            <option value='{{dep.DEP_ID}}' ng-repeat='dep in departamentList'>{{dep.DEP_DESC}}</option>
                        </select>
                        <label class="mdl-textfield__label" for="txtDepartamento"></label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click='save();'>
                        <i class="material-icons">save</i>Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>