<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      	<header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                  <!-- Title -->
                  <span class="mdl-layout-title">AFGS</span>
                  <!-- Add spacer, to align navigation to the right -->
                  <div class="mdl-layout-spacer"></div>
                  <!-- Navigation -->
                  <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="sessionOff">Cerrar sesi&oacute;n</a>
                  </nav>
            </div>
      	</header>
      	<div class="mdl-layout__drawer">
            <span class="mdl-layout-title"><a class="mdl-navigation__link" href="menu">AFGS</a></span>
            <nav class="mdl-navigation">
                  <a class="mdl-navigation__link" href="nuevaEmpresa">Empresas</a>
                  <a class="mdl-navigation__link" href="cuentasEmpresa">Cuentas</a>
                  <a class="mdl-navigation__link" href="sessionOff">Cerrar sesi&oacute;n</a>
            </nav>
      	</div>
	  	<main class='mdl-layout__content mainContent'>