.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../img/pic/banco.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.blankContainer{	
	background-color: #fff;
}

.containerBigCard{
	background-color: #fff;
	border-radius: 2px;
}


.containerAlt0{
	background-color: #AAA;
	border-radius: 2px;
}
.containerAlt1{
	background-color: #DDD;
	border-radius: 2px;
}
.containerAlt2{
	background-color: #EEE;
	border-radius: 2px;
}