
<div ng-app="mainApp" ng-controller="ctrlMain">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="txtUser" />
        <label class="mdl-textfield__label" for="txtUser">User</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="txtPass" />
        <label class="mdl-textfield__label" for="txtPass">Password</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="btnLogin">Login</button>
</div>