<div class="mdl-grid"></div>
<div class="mdl-grid"></div>
<div class="mdl-grid"></div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col bgWhite">
        <div class="mdl-grid title-main">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col center"><h3>Administraci&oacute;n de empresas</h3></div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--4-col">Nombre</div>
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--1-col">Contabilidad</div>
            <div class="mdl-cell mdl-cell--1-col">Nomina</div>
            <div class="mdl-cell mdl-cell--1-col">Facturacion</div>
            <div class="mdl-cell mdl-cell--1-col">Configuracion</div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
            </div>
            <div class="mdl-cell mdl-cell--10-col">
            </div>
        </div>
    </div>
</div>