<div class="mdl-grid"></div>
<div class="mdl-grid"></div>
<div class="mdl-grid"></div>
<div class="mdl-grid" ng-controller="ctrlConceptos" id="conceptosId">
    <div class="mdl-cell mdl-cell--12-col containerBigCard mdl-shadow--2dp">
        <div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col center"><h2>Title</h2></div></div>
        <div class="mdl-grid">IMG</div>
        <div class="mdl-grid" id="containerConcepts"></div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--10-col"></div>
            <div class="mdl-cell mdl-cell--2-col">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">save</i>Guardar
                </a>
            </div>
        </div>
    </div>
    <!--Departamentos-->
    <div class="mdl-cell mdl-cell--3-col containerCard">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
               <h2 class="mdl-card__title-text">Departamentos</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Agrega, edita y elimina departamentos
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#conceptosId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="switchPage('s34fw1ED');">
                    Entrar!
                </a>
            </div>
        </div>
    </div>
    <!--Puestos-->
    <div class="mdl-cell mdl-cell--3-col containerCard">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
               <h2 class="mdl-card__title-text">Puestos</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Agrega, edita y elimina puestos
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#conceptosId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="switchPage('x8Uhsj4');">
                    Entrar!
                </a>
            </div>
        </div>
    </div>
    <!--Emplados-->
    <div class="mdl-cell mdl-cell--3-col containerCard">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
               <h2 class="mdl-card__title-text">Emplados</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Agrega, edita y elimina emplados
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#conceptosId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="switchPage('D3f3trfE');">
                    Entrar!
                </a>
            </div>
        </div>
    </div>
    <!--Bancos-->
    <div class="mdl-cell mdl-cell--3-col containerCard">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
               <h2 class="mdl-card__title-text">Bancos</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Agrega, edita y elimina bancos
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#conceptosId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="switchPage('b1j9sSh');">
                    Entrar!
                </a>
            </div>
        </div>
    </div>
    <!--Catalogo de cuentas-->
    <div class="mdl-cell mdl-cell--3-col containerCard">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
               <h2 class="mdl-card__title-text">Catalogo de cuentas</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Agrega, edita y elimina el catalogo de cuentas
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#conceptosId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="switchPage('j93hdsf');">
                    Entrar!
                </a>
            </div>
        </div>
    </div>
    <!--Conceptos-->
    <div class="mdl-cell mdl-cell--3-col containerCard">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
               <h2 class="mdl-card__title-text">Conceptos</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Agrega, edita y elimina conceptos
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#conceptosId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="switchPage('sag5343');">
                    Entrar!
                </a>
            </div>
        </div>
    </div>
</div>