<div ng-app='mainApp' ng-controller='ctrlContabilidad'>
    <div class="mdl-grid" ng-init='init();'></div>
    <div class="mdl-grid"></div>
    <div class="mdl-grid"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col bgWhite">
            <div class="mdl-grid title-main">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--3-col"><img src="img/logo/main.png" class="demo-avatar"></div>
                <div class="mdl-cell mdl-cell--7-col"><h3>{{comp[0].COM_NAME}}</h3></div>
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--7-col"><h5>Libro diario desde {{generalJournalId[0].GJO_DATE_INIT}}</h5></div>
                <div class="mdl-cell mdl-cell--1-col"></div>
            </div>
            <div ng-repeat='j in dataJournal' ng-init='jIndex = $index'>
                <div class="mdl-grid bgWhite">
                    <div class="mdl-cell mdl-cell--2-col"></div>
                    <div class="mdl-cell mdl-cell--6-col center">
                        <h6>-{{j.JO_ORDER}}-</h6>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <h6>{{j.JO_DATE_INIT}}</h6>
                    </div>
                </div>
                <div class="mdl-grid containerDiario" >
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-grid containerDiario" ng-repeat='subMov in subJournalMov' ng-if='subMov.SJO_ID==subJournal[jIndex].SJO_ID' ng-init='totalMovimiento=0'>
                            <div class="mdl-cell mdl-cell--1-col">
                                <label ng-repeat='comA in companyAssets' ng-if='comA.CAS_ID==subMov.CAS_ID && comA.TAS_ID==1'>
                                    {{comA.CAS_OWN_ID}}</label>
                            </div>
                            <div class="mdl-cell mdl-cell--2-col">
                                <label ng-repeat='comA in companyAssets' ng-if='comA.CAS_ID==subMov.CAS_ID && comA.TAS_ID==1'>
                                    {{comA.ASS_DESC}}</label>
                            </div>
                            <div class="mdl-cell mdl-cell--3-col">
                                <label ng-repeat='comA in companyAssets' ng-if='comA.CAS_ID==subMov.CAS_ID  && comA.TAS_ID==1' ng-init='sumMov(subJournal[jIndex].SJO_ID,1,subMov.AMMOUNT);' name='movientoDebe[]' value='{{subMov.AMMOUNT[$index]}}'>{{subMov.AMMOUNT}}</label>
                            </div>
                            <div class="mdl-cell mdl-cell--1-col">
                                <label ng-repeat='comA in companyAssets' ng-if='comA.CAS_ID==subMov.CAS_ID  && comA.TAS_ID!=1'>{{comA.CAS_OWN_ID}}</label>
                            </div>
                            <div class="mdl-cell mdl-cell--2-col">
                                <label ng-repeat='comA in companyAssets' ng-if='comA.CAS_ID==subMov.CAS_ID  && comA.TAS_ID!=1'>{{comA.ASS_DESC}}</label>
                            </div>
                            <div class="mdl-cell mdl-cell--3-col">
                                <label ng-repeat='comA in companyAssets' ng-if='comA.CAS_ID==subMov.CAS_ID  && comA.TAS_ID!=1' ng-init='sumMov(subJournal[jIndex].SJO_ID,2,subMov.AMMOUNT);' name='movientoHaber[]' value='{{subMov.AMMOUNT[$index]}}'>{{subMov.AMMOUNT}}</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--1-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input size12" ng-model='comASelect1' type="text" id="fecha1" ng-options='comA.CAS_OWN_ID for comA in companyAssets'>
                                        <option value=''>Select</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="fecha1"></label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--2-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-repeat='comAFields in companyAssets' ng-if='comASelect1.CAS_ID == comAFields.CAS_ID'>
                                    <input class="mdl-textfield__input" type="text" id="fecha1{{$index}}" value='{{comAFields.ASS_DESC}}'  readonly/>
                                    <label class="mdl-textfield__label" for="fecha1{{$index}}"></label>
                                </div>   
                            </div>
                            <div class="mdl-cell mdl-cell--2-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="cuenta11" ng-model='insertAmmountDebe' />
                                        <label class="mdl-textfield__label" for="cuenta11"></label>
                                    </div>
                            </div>
                            <div class="mdl-cell mdl-cell--1-col">
                                <button ng-click='saveSubJournal(subJournal[jIndex], comASelect1, insertAmmountDebe);' class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                                    <i class="material-icons">save</i>
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cell--1-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input size12" ng-model='comASelect2' ng-options='comA.CAS_OWN_ID for comA in companyAssets' type="text" id="fecha1">
                                        <option value=''>Select</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="fecha1"></label>
                                </div>  
                            </div>
                            <div class="mdl-cell mdl-cell--2-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-repeat='comAFields in companyAssets' ng-if='comASelect2.CAS_ID == comAFields.CAS_ID'>
                                    <input class="mdl-textfield__input" type="text" id="fecha1{{$index}}"  value='{{comAFields.ASS_DESC}}'  readonly/>
                                    <label class="mdl-textfield__label" for="fecha1{{$index}}"></label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--2-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="fecha1" ng-model='insertAmmountHaber' />
                                    <label class="mdl-textfield__label" for="fecha1"></label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--1-col">
                                <button ng-click='saveSubJournal(subJournal[jIndex], comASelect2, insertAmmountHaber);' class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                                    <i class="material-icons">save</i>
                                </button>
                            </div>
                        </div>
                        <div class="mdl-grid containerDiarioTotalBien">
                            <div class="mdl-cell mdl-cell--3-col"></div>
                            <div class="mdl-cell mdl-cell--3-col" ng-if='subJournalSum1[subJournal[jIndex].SJO_ID]==subJournalSum2[subJournal[jIndex].SJO_ID]' name='totalDebe[]' val='{{parseFloat(subJournalSum1[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountDebe)}}'>Total:{{parseFloat(subJournalSum1[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountDebe)}}</div>
                            <div class="mdl-cell mdl-cell--3-col containerDiarioTotalMal" ng-if='subJournalSum1[subJournal[jIndex].SJO_ID]!=subJournalSum2[subJournal[jIndex].SJO_ID]' name='totalDebe[]'  val='{{parseFloat(subJournalSum1[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountDebe)}}'>Total:{{parseFloat(subJournalSum1[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountDebe)}}</div>
                            <div class="mdl-cell mdl-cell--3-col"></div>
                            <div class="mdl-cell mdl-cell--3-col" ng-if='subJournalSum1[subJournal[jIndex].SJO_ID]==subJournalSum2[subJournal[jIndex].SJO_ID]' name='totalHaber[]'  val='{{parseFloat(subJournalSum2[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountHaber)}}'>Total:{{parseFloat(subJournalSum2[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountHaber)}}</div>
                            <div class="mdl-cell mdl-cell--3-col containerDiarioTotalMal" ng-if='subJournalSum1[subJournal[jIndex].SJO_ID]!=subJournalSum2[subJournal[jIndex].SJO_ID]' name='totalHaber[]'  val='{{parseFloat(subJournalSum2[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountHaber)}}'>Total:{{parseFloat(subJournalSum2[subJournal[jIndex].SJO_ID])+parseFloat(insertAmmountHaber)}}</div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="mdl-grid bgWhite">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--6-col center">
                    <h6>-1-</h6>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="fecha1" />
                        <label class="mdl-textfield__label" for="fecha1">Fecha</label>
                    </div>-->
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <button ng-click='addJournal(dataJournal);' class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                            <i class="material-icons">add</i>
                    </button></div>
                <div class="mdl-cell mdl-cell--1-col">
                </div>
            </div>
            <!--<div class="mdl-grid containerDiario">
                <div class="mdl-cell mdl-cell--2-col">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">add</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">remove</i>
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="cuenta11" />
                                        <label class="mdl-textfield__label" for="cuenta11">Cuenta Debe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="cuenta11" />
                                        <label class="mdl-textfield__label" for="cuenta11">Cantidad Debe</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="cuenta11" />
                                        <label class="mdl-textfield__label" for="cuenta11">Cuenta Haber</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="cuenta11" />
                                        <label class="mdl-textfield__label" for="cuenta11">Cantidad Haber</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">add</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">remove</i>
                    </button>
                </div>
            </div>-->


            <div class="mdl-grid bgWhite">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col">TOTAL</div></div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col">{{getTotalGeneral('debe');}}</div></div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col">TOTAL</div></div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col">{{getTotalGeneral('haber');}}</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>