<div ng-app="mainApp" ng-controller="ctrlNomina">
	<div class="mdl-grid"></div>
	<div class="mdl-grid"></div>
	<div class="mdl-grid"></div>
	<div class="mdl-grid">
		<style>
		.demo-card-wide.mdl-card {
		width: 512px;
		}
		.demo-card-wide > .mdl-card__title {
		color: #000;
		height: 176px;
		background: url('img/pic/pay.jpg') center / cover;
		}
		.demo-card-wide > .mdl-card__menu {
		color: #fff;
		}
		</style>
		<div class="mdl-cell mdl-cell--4-col"></div>
		<div class="mdl-cell mdl-cell--4-col">
			<div class="demo-card-wide mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Nomina</h2>
				</div>
				<div class="mdl-card__supporting-text">
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell--4-col" ng-click='addTemplate(0);'>
					  PUESTOS
					</button>
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell--1-col" ng-click='setNewPuesto();'>
					  +
					</button>
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell--4-col" ng-click='addTemplate(1);'>
					  IMPUESTOS
					</button>
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell--1-col" ng-click='setNewImpuesto();'>
					  +
					</button>

				</div>
				<div class="mdl-card__actions mdl-card--border" id='containerNomina'>
				</div>
				<div class="mdl-card__menu">
					<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">share</i>
					</button>
				</div>
			</div>
		</div>
	</div>
	



	<!--aqui inician las vistas-->
	<div style='display:none;'>
		<div id='puestoDiv'>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--3-col">Departamento</div>
				<div class="mdl-cell mdl-cell--3-col">Puesto</div>
				<div class="mdl-cell mdl-cell--3-col">Turno</div>
				<div class="mdl-cell mdl-cell--3-col">Empleado</div>
			</div>
			<div class="mdl-grid" ng-repeat='puesto in puestos'>
				<div class="mdl-cell mdl-cell--3-col">{{puesto.DEP_DESC}}</div>
				<div class="mdl-cell mdl-cell--3-col">{{puesto.EMPYNT_DESC}}</div>
				<div class="mdl-cell mdl-cell--3-col">{{puesto.TTU_DESC}}</div>
				<div class="mdl-cell mdl-cell--3-col">{{puesto.PER_NAME}} {{puesto.PER_MIDNAME}} {{puesto.PER_LAST_NAME}} {{puesto.PER_S_LAST_NAME}}</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtDep" ng-model="departament" ng-options="depS.DEP_DESC for depS in departamentList track by depS.DEP_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtDep"></label>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtEmp" ng-model="empNom" ng-options="empL.EMPYNT_DESC for empL in employList track by empL.EMPYNT_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtEmp"></label>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtTurn" ng-model="turnNom" ng-options="turnL.TTU_DESC for turnL in turnList track by turnL.TTU_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtTurn"></label>
						</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtPerson" ng-model="empNom" ng-options="empName.PER_NAME+' '+empName.PER_MIDNAME+' '+empName.PER_LAST_NAME+' '+empName.PER_S_LAST_NAME for empName in employeePersonList track by empName.EMP_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtPerson"></label>
					</div>
				</div>
			</div>
			<div class="mdl-grid">
				
			</div>
		</div>



		<div id='impuestoDiv'>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--3-col">Empleado</div>
				<div class="mdl-cell mdl-cell--3-col">Puesto</div>
				<div class="mdl-cell mdl-cell--3-col">Concepto</div>
				<div class="mdl-cell mdl-cell--3-col">Cantidad</div>
			</div>
			<div class="mdl-grid" ng-repeat="imp in impuestos">
				<div class="mdl-cell mdl-cell--3-col">{{imp.PER_NAME}} {{imp.PER_MIDNAME}} {{imp.PER_LAST_NAME}} {{imp.PER_S_LAST_NAME}}</div>
				<div class="mdl-cell mdl-cell--3-col">{{imp.EMPYNT_DESC}}</div>
				<div class="mdl-cell mdl-cell--3-col">{{imp.CPT_DESC}}</div>
				<div class="mdl-cell mdl-cell--3-col">{{imp.AMMOUNT}}</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtPersonImp" ng-model="empNom" ng-options="empName.PER_NAME+' '+empName.PER_MIDNAME+' '+empName.PER_LAST_NAME+' '+empName.PER_S_LAST_NAME for empName in employeePersonList track by empName.EMP_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtPersonImp"></label>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtEmpImp" ng-model="empNom" ng-options="empL.EMPYNT_DESC for empL in employList track by empL.EMPYNT_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtEmpImp"></label>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<select class="mdl-textfield__input" id="txtConcept" ng-model="empNom" ng-options="conL.CPT_DESC for conL in conceptList track by conL.CPT_ID">
							<option value="">Select</option>
						</select>
						<label class="mdl-textfield__label" for="txtConcept"></label>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input type="text" id="txtAmmount" class="mdl-textfield__input">
						<label class="mdl-textfield__label" for="txtAmmount"></label>
					</div>
				</div>
			</div>
			<div class="mdl-grid">
				
			</div>
		</div>
	</div>
	<!--aqui fin las vistas-->

</div>